@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
a:hover{
    color: #222;
}
nav{
    margin: 2em;
}
nav a{
    font-family: 'Cinzel', serif;
    font-size: 1.3em;
    text-decoration: none;
    color: #777;
}
header section{
    background-image: url(../img/background.jpeg);
    height: 85vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header section article{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header section h1{
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 3em;
}
main{
    max-width: 80%;
    margin: auto;
}
main section:nth-of-type(1){
    margin: 5em 0;
    text-align: center;
}
main section:nth-of-type(1) h2{
    font-family: 'Cinzel', serif;
    margin-bottom: 3em;
}
main section:nth-of-type(1) p{
    font-size: .72em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
main section:nth-of-type(2){
    text-align: center;
}
main img{
    width: 300px;
    height: auto;
    display: inline-block;
    margin: 1em;
}
main img:hover{
    opacity:0.7;
}
main article{
    margin: 3em 0;
}
main article h3{
    text-align: center;
    font-family: 'Cinzel', serif;
    margin-bottom: 3em;
}
main article p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
}
main article p:nth-child(-n+4)::after {
    content: ' - SOLD OUT';
    color: red;
}
main article p:nth-of-type(4)::after {
    content: ' - ONLY 4 SPOTS AVAILABLE';
    color: red;
}
main article p:nth-child(n+6)::after {
    content: ' - AVAILABLE';
    color: green;
}
footer{
    border-top: 1px solid rgb(158, 157, 157);
}
footer h4{
    margin: 2em 0;
    text-align: center;
    font-family: 'Cinzel', serif;
    margin-bottom: 2em;
}